Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint --fix --cache --no-warn-ignored, bash -c 'npm run type-check', stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "npm run type-check"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --cache --no-warn-ignored",
    "bash -c 'npm run type-check'"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "stylelint \"**/*.{css,scss}\" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: update lint-staged configuration to improve type-check execution and formatting
  .lintstagedrc.json
Due: prettier --write

chore: add cross-env dependency for improved environment variable management
  package-lock.json
  package.json
Due: prettier --write

chore: clean up package.json by removing unused dependencies and simplifying stylelint commands
  package.json
Due: prettier --write

chore: update stylelint and eslint configurations for improved readability and remove unused tsconfig.lint.json
  .stylelintrc.json
  eslint.config.js
  tsconfig.lint.json
Due: prettier --write

chore: bump version to 0.3.7
  package.json
Due: prettier --write

chore: refactor tsconfig.json for improved organization and clarity
  tsconfig.json
Due: prettier --write

chore: update log message from info to warn for better severity indication
  src/main.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, bash -c 'npm run type-check'

chore: enhance VSCode settings for improved development experience and linting configurations
  .vscode/settings.json
Due: prettier --write

chore: add recommended VSCode extensions for enhanced development experience
  .vscode/extensions.json
Due: prettier --write

chore: bump version to 0.3.8
  package.json
Due: prettier --write

chore: enhance VSCode extensions configuration with improved categorization and descriptions
  .vscode/extensions.json
Due: prettier --write

chore: add setup script for VSCode extensions installation and configuration
  package.json
  scripts/setup-vscode-extensions.js
Due: prettier --write

chore: bump version to 0.3.9
  package.json
Due: prettier --write

chore: add setup script for installing recommended VSCode extensions
  scripts/setup-vscode-extensions.cjs
Due: none

chore: update VSCode setup script extension to .cjs
  package.json
Due: prettier --write

chore: bump version to 0.3.10
  package.json
Due: prettier --write

chore: add eslint plugins for accessibility, perfectionism, and performance
  package-lock.json
  package.json
Due: prettier --write

chore: update ESLint configuration and enhance accessibility rules
  .github/workflows/greetings.yml
  .prettierrc
  .vscode/settings.json
  configs/setup-test-env.ts
  configs/setup-tests.ts
  eslint.config.js
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, bash -c 'npm run type-check'

chore: bump version to 0.3.11
  package.json
Due: prettier --write

chore: update stylelint configuration and add new plugins for improved linting
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/styles/_normalize.css
  src/styles/index.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

chore: bump version to 0.3.12
  package.json
Due: prettier --write

chore: add web vitals configuration and integrate bundle analysis tools
  package-lock.json
  package.json
  vite.config.ts
  web-vitals.config.js
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, bash -c 'npm run type-check'

chore: bump version to 0.3.13
  package.json
Due: prettier --write

chore: update comments and add performance optimizations in HTML and test setup
  configs/setup-tests.ts
  index.html
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, bash -c 'npm run type-check'

chore: bump version to 0.3.14
  package.json
Due: prettier --write

fix: correct comment syntax in index.html
  index.html
Due: none

chore: bump version to 0.3.15
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update README with links and clarify setup instructions
  README.md
Due: prettier --write

chore: bump version to 0.4.0
  package.json
Due: prettier --write

chore: update VSCode extensions and bump version to 0.4.1
  .vscode/extensions.json
  package.json
  scripts/setup-vscode-extensions.cjs
Due: prettier --write

chore: update version to 0.4.2 and enhance README with additional setup recommendations
  README.md
  package.json
Due: prettier --write

docs: enhance README with new development tools and scripts for better project management
  README.md
  scripts/analyze-codebase.cjs
  scripts/check-dependencies.cjs
  scripts/clean-project.cjs
  scripts/create-component.cjs
Due: prettier --write

chore: bump version to 0.4.3 and add new scripts for project management
  package.json
Due: prettier --write

chore: update VSCode settings and enhance package scripts for improved development workflow
  .vscode/settings.json
  package.json
Due: prettier --write

chore: reorganize devDependencies in package.json for better clarity and maintenance
  package.json
Due: prettier --write

chore: bump version to 0.4.3 and update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 0.4.4 and update test command in CI workflow
  .github/workflows/ci.yml
  package.json
Due: prettier --write

feat: enhance component creation script with validation and path safety checks
  scripts/create-component.cjs
Due: none

chore: bump version to 0.4.5 in package.json
  package.json
Due: prettier --write
