Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

feat(router): add router implementation with navigation and event handling
  src/router/index.ts
  src/router/router.test.ts
  src/router/router.ts
  src/router/types.ts
Due: prettier --write, eslint --fix, npm run type-check, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

fix: upgrade axios from 1.8.2 to 1.9.0
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: eslint --fix

fix: upgrade axios from 1.8.4 to 1.11.0
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *)
  npm run type-check: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
  node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)": any of: *.{ts,tsx}
  stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json: any of: *.{css,scss}
