Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "npm run type-check"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint . --fix --cache",
    "node --eval \"process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)\"",
    "git add"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "stylelint \"**/*.{css,scss}\" --fix --config .stylelintrc.json",
    "git add"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write", "git add"]
}

chore: bump version to 0.6.2 and update package dependencies
  package-lock.json
Due: prettier --write

chore: update VSCode settings to enhance ESLint configuration and organize imports
  .vscode/settings.json
Due: prettier --write

feat: add chainable DOM manipulation utility with animation support
  src/utils/functions/DOM/chain/chain.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: add unit tests for chain utility functions
  src/utils/functions/DOM/chain/chain.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: update VSCode settings, bump version to 0.6.3, and enhance Vitest configuration
  .vscode/settings.json
  package.json
  vitest.config.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: update ESLint configuration in VSCode settings, add chain utility exports, and remove typedoc configuration
  .vscode/settings.json
  src/utils/functions/DOM/chain/index.ts
  typedoc.json
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

refactor: update removeStore method to be asynchronous and handle errors with try/catch
  src/utils/storage/StorageFactory.ts
  src/utils/storage/types.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: add unit tests for EnhancedStorage and StorageFactory functionalities
  src/utils/storage/__tests__/EnhancedStorage.test.ts
  src/utils/storage/__tests__/StorageFactory.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.6.4 in package.json
  package.json
Due: prettier --write

refactor: enhance error handling and testing capabilities in EnhancedStorage and StorageFactory
  src/utils/storage/EnhancedStorage.ts
  src/utils/storage/StorageFactory.ts
  src/utils/storage/__tests__/EnhancedStorage.test.ts
  src/utils/storage/__tests__/StorageFactory.test.ts
  src/utils/storage/__tests__/helpers/TestEnhancedStorage.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: add unit tests for tryit and tryitAsync functions
  src/utils/functions/try-it/try-it.test.ts
  src/utils/logger/logger.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: add unit tests for chain, httpClient, and logger functionalities
  src/utils/functions/DOM/chain/__tests__/chain.test.ts
  src/utils/functions/DOM/chain/chain.ts
  src/utils/http-client/__tests__/http-client.test.ts
  src/utils/logger/__tests__/logger.test.ts
  src/utils/logger/logger.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: migrate httpClient tests to a new file structure and enhance test coverage
  src/utils/http-client/__tests__/http-client.test.ts
  src/utils/http-client/http-client.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: move logger tests to a new file and enhance coverage
  src/utils/logger/__tests__/logger.test.ts
  src/utils/logger/logger.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: move chain utility tests to a new file and enhance error handling coverage
  src/utils/functions/DOM/chain/__tests__/chain.test.ts
  src/utils/functions/DOM/chain/chain.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: enhance chain utility tests for error handling and concurrent animations
  src/utils/functions/DOM/chain/chain.test.ts
  src/utils/functions/DOM/chain/chain.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

test: add typeguard utility functions and corresponding unit tests
  src/utils/functions/typeguards/index.ts
  src/utils/functions/typeguards/typeguards.test.ts
  src/utils/functions/typeguards/typeguards.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.6.5
  package.json
Due: prettier --write

style: update quotes to single quotes in CSS and JavaScript files; clean up linting configuration
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  scripts/check-dependencies.cjs
  scripts/clean-project.cjs
  src/main.ts
  src/styles/_normalize.css
  src/styles/index.css
  src/styles/mapper.scss
  src/styles/variables.css
  src/utils/http-client/index.ts
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

chore: remove unused ESLint plugins from package.json
  package-lock.json
  package.json
  scripts/analyze-codebase.cjs
  scripts/create-component.cjs
  scripts/feature-flags.cjs
  scripts/setup-vscode-extensions.cjs
  scripts/validate-env.cjs
Due: prettier --write

style: refactor test setup for consistency; remove unnecessary semicolons
  configs/setup-test-env.ts
  configs/setup-tests.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.6.7
  package.json
Due: prettier --write

style: update stylelint configuration for consistency; adjust spacing and print width
  .stylelintrc.json
Due: prettier --write

chore: bump version to 0.6.8
  package.json
Due: prettier --write

chore: bump version to 0.7.0
  package.json
Due: prettier --write

docs: update README to include details about ESLint configuration and its benefits
  README.md
Due: prettier --write

docs: update last updated date in README
  README.md
Due: prettier --write

refactor: remove unused import in main.ts; add PrettyPrint type alias in common.types.ts
  src/main.ts
  src/types/common.types.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: update Node.js engine requirement to 18.0.0; remove bundlesize(this use inner decrecated packages) configuration and related references from README
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 0.7.1
  package.json
Due: prettier --write

chore: update package.json to add new dependencies and maintain Node.js engine requirement
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/_normalize.css
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

chore: add .stylelintcache to track stylelint configuration and cache data
  .stylelintcache
Due: none

chore: bump version to 0.7.2
  package.json
Due: prettier --write

chore: remove prettier from lint-staged config and clean up stylelint configuration
  .lintstagedrc.json
  .stylelintrc.json
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint . --fix --cache, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: update devDependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

chore: update dependencies to latest versions
  .stylelintcache
  package-lock.json
  package.json
Due: prettier --write
