Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

chore: update cSpell words in VSCode settings for additional terms
  .vscode/settings.json
Due: prettier --write

feat: optimize Dockerfile for multi-stage builds and enhance docker-compose configuration
  Dockerfile
  docker-compose.yml
Due: prettier --write

chore: bump version to 0.4.6 in package.json
  package.json
Due: prettier --write

feat: add feature flag management script and update package.json
  package.json
  scripts/feature-flags.cjs
Due: prettier --write

fix: enable consistent casing in file names and include scripts directory in tsconfig
  tsconfig.json
Due: prettier --write

chore: bump version to 0.4.7 in package.json
  package.json
Due: prettier --write

feat: add .env.example and environment validation script
  .env.example
  package-lock.json
  package.json
  scripts/validate-env.cjs
Due: prettier --write

chore: bump version to 0.4.8 in package.json
  package.json
Due: prettier --write

feat: add TypeScript documentation types and scripts for generating and syncing API docs
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate-api-docs.cjs
  scripts/sync-docs.cjs
  src/types/docs.d.ts
  typedoc.json
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: remove sync-docs script and clean up package.json
  package.json
  scripts/sync-docs.cjs
Due: prettier --write

chore: bump version to 0.4.9 in package.json
  package.json
Due: prettier --write

docs: update README with documentation and feature flags management details
  README.md
Due: prettier --write

chore: bump version to 0.4.10 in package.json
  package.json
Due: prettier --write

docs: update README and remove API documentation scripts from package.json
  README.md
  package.json
Due: prettier --write

chore: bump version to 0.4.11 in package.json
  package.json
Due: prettier --write

docs: remove outdated API documentation section from README
  README.md
Due: prettier --write

chore: bump version to 0.4.12 in package.json
  package.json
Due: prettier --write

docs: update last updated date in README
  README.md
Due: prettier --write

chore: bump version to 0.4.13 in package.json
  package.json
Due: prettier --write

chore: remove unused API documentation generation scripts and type definitions
  scripts/generate-api-docs.cjs
  src/types/docs.d.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.4.14 in package.json
  package.json
Due: prettier --write

feat: add type aliases for common object and tuple types
  src/types/common.types.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: implement singleton Logger class with logging functionality and tests
  src/main.ts
  src/utils/classes/Logger/Logger.test.ts
  src/utils/classes/Logger/Logger.ts
  src/utils/classes/Logger/index.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: add tryit utility function with error handling and tests
  eslint.config.js
Due: none

feat: update cSpell words list to include 'tryit'
  .vscode/settings.json
Due: prettier --write

feat: add tryit utility function with structured error handling and tests
  src/utils/functions/try-it/index.ts
  src/utils/functions/try-it/try-it.test.ts
  src/utils/functions/try-it/try-it.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: update issue templates to include labels and enhance contributing guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: update configuration files for improved formatting and style rules
  .editorconfig
  .prettierrc
  .stylelintrc.json
Due: prettier --write

feat: add scripts for comprehensive linting and style checks
  package.json
Due: prettier --write

chore: bump version to 0.4.15
  package.json
Due: prettier --write

feat: remove .prettierrc and update VSCode and ESLint configurations for improved formatting
  .prettierrc
  .vscode/settings.json
  eslint.config.js
Due: prettier --write

fix: update import statements to use lowercase for logger module
  src/main.ts
  src/utils/classes/Logger/Logger.test.ts
  src/utils/classes/Logger/index.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

fix: disable prettier for setup-test-env.ts to prevent formatting issues
  configs/setup-test-env.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: add filename case rule to ESLint configuration for improved consistency
  eslint.config.js
Due: none

fix: standardize string quotes in setup-test-env.ts for consistency
  configs/setup-test-env.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

fix: update import statements to use consistent casing for Logger module and refactor exports
  configs/setup-test-env.ts
  src/main.ts
  src/utils/classes/Logger/Logger.test.ts
  src/utils/classes/Logger/Logger.ts
  src/utils/classes/Logger/index.ts
  src/utils/functions/try-it/index.ts
  src/utils/functions/try-it/try-it.test.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: add eslint-plugin-eslint-comments to package.json for improved comment linting
  package-lock.json
  package.json
Due: prettier --write

chore: add mischeck to VSCode settings for enhanced linting options
  .vscode/settings.json
Due: prettier --write

chore: rewrite eslint rules and add comments
  eslint.config.js
Due: none

chore: bump version to 0.4.16
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})) or (((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml}))
  eslint --fix: any of: *.{ts,tsx}
  npm run type-check: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
  eslint --fix --cache --no-warn-ignored: any of: *.{ts,tsx}
  node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)": any of: *.{ts,tsx}
  stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json: any of: *.{css,scss}
