Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

Change development and preview server ports to 3010 and 3011 respectively
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

Update application port from 3000 to 3010 in README and docker-compose
  README.md
  docker-compose.yml
Due: prettier --write

Bump version to 0.2.1 in package-lock.json
  package-lock.json
Due: prettier --write

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Due: prettier --write

Create greetings.yml
  .github/workflows/greetings.yml
Due: prettier --write

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

Update snyk-security.yml
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: update labeler configuration to include additional file types and improve categorization
  .github/labeler.yml
Due: prettier --write

feat: enhance index.html with comprehensive meta tags for SEO and social sharing
  index.html
Due: none

feat: replace reset.css with normalize.css for consistent styling across browsers
  src/styles/_normalize.css
  src/styles/index.css
  src/styles/reset.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

style: add box-sizing rule for consistent element sizing across the application
  src/styles/index.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

chore: update browser support versions and improve stylelint configuration
  .stylelintrc.json
  package.json
  postcss.config.js
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

style: enhance CSS for improved scroll and overscroll behavior with browser support checks
  src/styles/index.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github

chore: bump version to 0.2.1 in package.json
  package.json
Due: prettier --write

chore: bump version to 0.3.0 in package.json
  package.json
Due: prettier --write

chore: update VSCode settings for ESLint and TypeScript preferences
  .vscode/settings.json
Due: prettier --write

chore: bump version to 0.3.1 in package.json
  package.json
Due: prettier --write

fix: update Vite configuration for base path handling and improve build output settings
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: bump version to 0.3.2 in package.json
  package.json
Due: prettier --write

docs: update README with new project setup instructions and available scripts
  README.md
Due: prettier --write

chore: bump version to 0.3.3 in package.json
  package.json
Due: prettier --write

chore: update devDependencies by removing unused packages and adding new ones
  package-lock.json
  package.json
Due: prettier --write

chore: bump version to 0.3.4 in package.json
  package.json
Due: prettier --write

chore: update ESLint and TypeScript configurations for improved settings and test environment
  eslint.config.js
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: bump version to 0.3.5 in package.json
  package.json
Due: prettier --write

chore: refactor test setup by removing old setup file and creating a new centralized configuration
  configs/setup-test-env.ts
  configs/setup-tests.ts
  src/test/setup.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: update test setup to include placeholder comments for viewport and language settings
  configs/setup-tests.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: update dependencies and enhance ESLint rules for improved code quality
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: general refactoring and fixes
  .eslintcache
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  src/calc.test.ts
  src/create-element.test.ts
  src/main.ts
  src/utils/Logger/Logger.test.ts
  src/utils/Logger/Logger.ts
  src/utils/Logger/index.ts
  stylelint-report.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: clean up code and update configuration for improved consistency and readability
  .eslintcache
  .lintstagedrc.json
  .prettierrc
  .vscode/settings.json
  eslint.config.js
  jsconfig.json
  package-lock.json
  package.json
  src/main.ts
  src/utils/Logger/Logger.test.ts
  src/utils/Logger/Logger.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: update .eslintcache and add it to .gitignore for better cache management
  .eslintcache
  .gitignore
Due: none

chore: bump version to 0.3.6 for release
  package.json
Due: prettier --write

chore: fix import path for Logger module to include file extension
  src/utils/Logger/index.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: refactor Logger module and update imports for better structure
  .eslintcache
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  src/main.js
  src/main.ts
  src/utils/Logger/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run type-check

chore: update .eslintcache for improved cache accuracy and performance
  .eslintcache
Due: none

chore: update Logger module structure and configuration for improved imports and ESLint settings
  .eslintcache
  tsconfig.json
Due: prettier --write

chore: refactor test setup for improved readability and remove unused main.js file
  .eslintcache
  configs/setup-tests.ts
  src/main.js
Due: prettier --write, eslint --fix, npm run type-check

chore: update Logger module structure and configuration, remove .eslintcache, and adjust linting settings
  .eslintcache
  .lintstagedrc.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  src/main.ts
  src/utils/Logger/Logger.test.ts
  src/utils/Logger/Logger.ts
  src/utils/Logger/index.ts
  tsconfig.json
  tsconfig.lint.json
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})) or (((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml}))
  eslint --fix: any of: *.{ts,tsx}
  npm run type-check: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
  stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json --custom-formatter=@csstools/stylelint-formatter-github: any of: *.{css,scss}
