Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)", stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "npm run type-check"
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --cache --no-warn-ignored",
    "node --eval \"process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)\""
  ],
  "*.{css,scss}": [
    "prettier --write",
    "stylelint \"**/*.{css,scss}\" --fix --config .stylelintrc.json"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: enhance PWA support with manifest and icon updates
  .vscode/settings.json
  index.html
  public/icons/apple-touch-icon.png
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  public/images/preview.png
  public/manifest.json
  public/vite.svg
Due: prettier --write

chore: bump version to 0.4.17
  package.json
Due: prettier --write

feat: add favicon, robots.txt, and web manifest for improved PWA support
  public/favicon.ico
  public/robots.txt
  public/site.webmanifest
Due: none

chore: bump version to 0.4.18
  package.json
Due: prettier --write

feat: update README and package.json for ESLint configuration and version bump to 0.5.00
  README.md
  package.json
Due: prettier --write

refactor: remove logger warning from main.ts
  src/main.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: implement logger utility with logging functionality and tests
  src/main.ts
  src/utils/classes/Logger/index.ts
  src/utils/logger/Logger.test.ts
  src/utils/logger/Logger.ts
  src/utils/logger/index.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: update PWA manifest and add base icon for improved app branding
  public/icons/icon-base.svg
  public/manifest.json
Due: prettier --write

chore: bump version to 0.5.1
  package.json
Due: prettier --write

fix: standardize string quotes and improve logger functionality
  .lintstagedrc.json
  configs/setup-tests.ts
  src/utils/logger/Logger.ts
  src/utils/logger/index.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

refactor: update SCSS string quotes for consistency
  .stylelintrc.json
  package-lock.json
  src/styles/mapper.scss
Due: prettier --write, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

refactor: standardize string quotes in CSS files for consistency
  src/styles/_normalize.css
  src/styles/index.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

feat: enhance development server security with HTTPS and restricted access
  README.md
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: enhance pre-commit hook and lint-staged configuration for improved code quality
  .husky/pre-commit
  .lintstagedrc.json
  src/styles/variables.css
Due: prettier --write, stylelint --fix, stylelint "**/*.{css,scss}" --fix --config .stylelintrc.json

chore: update CI test command and increment package version to 0.5.2
  .github/workflows/ci.yml
  package.json
Due: prettier --write

feat: add async support to tryit function with tryitAsync
  src/utils/functions/try-it/index.ts
  src/utils/functions/try-it/try-it.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.5.3
  package.json
Due: prettier --write

chore: bump version to 0.5.3 and update bundlesize dependency to 0.18.1
  package-lock.json
  package.json
Due: prettier --write

feat: add ENV_MODES enum for environment configurations
  src/types/common.enum.ts
  src/utils/logger/Logger.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: add global constants for environment detection and debug settings
  src/utils/constants/global.constant.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: bump version to 0.5.4
  package.json
Due: prettier --write

feat: add new icon assets for Android, Apple, and Microsoft platforms
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  public/icons/android-icon-144x144.png
  public/icons/android-icon-192x192.png
  public/icons/android-icon-36x36.png
  public/icons/android-icon-48x48.png
  public/icons/android-icon-72x72.png
  public/icons/android-icon-96x96.png
  public/icons/apple-icon-114x114.png
  public/icons/apple-icon-120x120.png
  public/icons/apple-icon-144x144.png
  public/icons/apple-icon-152x152.png
  public/icons/apple-icon-180x180.png
  public/icons/apple-icon-57x57.png
  public/icons/apple-icon-60x60.png
  public/icons/apple-icon-72x72.png
  public/icons/apple-icon-76x76.png
  public/icons/apple-icon-precomposed.png
  public/icons/apple-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon-96x96.png
  public/icons/favicon.ico
  public/icons/ms-icon-144x144.png
  public/icons/ms-icon-150x150.png
  public/icons/ms-icon-310x310.png
  public/icons/ms-icon-70x70.png
  public/manifest.json
  scripts/setup-vscode-extensions.cjs
  src/main.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: update HTML meta tags and add browserconfig for improved PWA support
  .vscode/settings.json
  index.html
  public/browserconfig.xml
  public/manifest.json
  public/screenshots/desktop.png
Due: prettier --write

feat: implement HTTP client with axios and add unit tests
  src/utils/functions/http-client/http-client.test.ts
  src/utils/functions/http-client/http-client.ts
  src/utils/functions/http-client/index.ts
  src/utils/functions/http-client/types.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

chore: format tsconfig.json for improved readability
  tsconfig.json
Due: prettier --write

chore: bump version to 0.5.5
  package.json
Due: prettier --write

chore: update VSCode settings for improved ESLint configuration
  .vscode/settings.json
  README.md
Due: prettier --write

chore: bump version to 0.6.0
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update README with Axios link and code usage examples; remove redundant ESLint config section
  README.md
  package.json
Due: prettier --write

docs: update Axios link in README for accurate documentation
  README.md
Due: prettier --write

docs: update README to include 'configs/' directory for shared configurations
  README.md
Due: prettier --write

docs: update README to include bundle size limits section and remove redundant size limits
  README.md
Due: prettier --write

chore: update package dependencies and version to 0.6.0. Add @types/crypto-js, crypto-js, localforage
  package-lock.json
  package.json
Due: prettier --write

feat: implement logger utility and HTTP client with types and tests
  src/main.ts
  src/utils/http-client/http-client.test.ts
  src/utils/http-client/http-client.ts
  src/utils/http-client/index.ts
  src/utils/http-client/types.ts
  src/utils/logger/index.ts
  src/utils/logger/logger.test.ts
  src/utils/logger/logger.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

feat: add enhanced storage utility with encryption support and storage factory
  .env.example
  .vscode/settings.json
  eslint.config.js
  package.json
  src/types/common.enum.ts
  src/utils/storage/EnhancedStorage.ts
  src/utils/storage/StorageFactory.ts
  src/utils/storage/config.ts
  src/utils/storage/example.ts
  src/utils/storage/index.ts
  src/utils/storage/types.ts
Due: prettier --write, eslint --fix, npm run type-check, eslint --fix --cache --no-warn-ignored, node --eval "process.exit(process.exitCode || require('child_process').spawnSync('npm', ['run', 'type-check'], {stdio:'inherit'}).status)"

docs: update README to include enhanced storage features and core dependencies
  README.md
  package.json
Due: prettier --write

chore: update TypeScript validation setting and bump version to 0.6.1
  .vscode/settings.json
  package-lock.json
Due: prettier --write

chore: bump version to 0.6.2 and update package dependencies
  README.md
  package.json
Due: prettier --write
