Repository PavelMelnik94/boilerplate-frontend-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run type-check, stylelint --fix

chore: update husky configuration for v10 compatibility
  .gitattributes
Due: none

test: lint-staged configuration
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
  src/test.ts
Due: prettier --write, eslint --fix, npm run type-check

test: lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/main.ts
  src/test.ts
  src/vite-env.d.ts
  src/vite-environment.d.ts
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint --fix, npm run type-check

chore: update ESLint and TypeScript configurations for improved compatibility and coverage
  eslint.config.js
  package.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore: enhance linting and styling configurations, add stylelint ignore file, and update PostCSS settings
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc
  .stylelintrc.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/style.css
  stylelint-report.json
  tsconfig.json
Due: prettier --write, stylelint --fix

chore: update stylelint configuration for improved rule organization and clarity; enhance CSS styles with consistent formatting
  .stylelintrc.json
  package.json
  src/style.css
Due: prettier --write, stylelint --fix

chore: update VSCode settings for improved formatting and linting support; configure default formatters and validation for various file types
  .vscode/settings.json
Due: prettier --write

chore: remove unused SVG and TypeScript files to clean up the project
  public/vite.svg
  src/counter.ts
  src/test.ts
  src/typescript.svg
Due: prettier --write, eslint --fix, npm run type-check

chore: update TypeScript and PostCSS configurations; enhance ESLint settings and add test setup
  .lintstagedrc.json
  .stylelintrc.json
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/main.ts
  src/style.css
  src/test/setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, npm run type-check, stylelint --fix

feat: add calc function for addition and implement unit tests
  .husky/pre-commit
  package-lock.json
  package.json
  src/main.test.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run type-check

chore: enhance Vite configuration with detailed comments and structured build settings
  vite.config.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: update VSCode settings and package.json for improved linting and dependency management
  package.json
Due: prettier --write

chore: update VSCode settings for ESLint integration and adjust TypeScript target to ES5
  .vscode/settings.json
  eslint.config.js
  tsconfig.json
Due: prettier --write

chore: enhance lint-staged configuration to include type-checking for TypeScript files
  .lintstagedrc.json
Due: prettier --write

chore: bump version to 0.1.0 and remove analyze script from package.json
  package.json
Due: prettier --write

chore: update CI workflow to use 'test:run' script for testing
  .github/workflows/ci.yml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

chore: update TypeScript configuration to target ES2020 and improve formatting
  tsconfig.json
Due: prettier --write

chore: update ESLint and TypeScript configurations for improved linting and type checking
  eslint.config.js
  tsconfig.json
Due: prettier --write

chore: bump version to 0.1.2 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: refine ESLint and TypeScript configurations for consistency and clarity
  eslint.config.js
  tsconfig.json
Due: prettier --write

feat: add createEl function and corresponding tests; rename main.test.ts to calc.test.ts
  src/calc.test.ts
  src/create-element.test.ts
  src/main.ts
Due: prettier --write, eslint --fix, npm run type-check

chore: update TypeScript configurations to skip library checks and add node-specific config
  package.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore: bump version to 0.1.3 in package.json
  package.json
Due: prettier --write

chore: reorganize devDependencies in package.json for clarity and consistency
  package-lock.json
  package.json
Due: prettier --write

chore: update version to 0.1.4 and add stylelint validation for CSS and SCSS in VSCode settings
  .vscode/settings.json
  package.json
Due: prettier --write

chore: update version to 0.1.5 and enhance stylelint configuration for SCSS files
  .stylelintrc.json
  package.json
Due: prettier --write

chore: bump version to 0.1.6 and reorganize styles into separate files
  package.json
  src/main.ts
  src/style.css
  src/styles/index.css
  src/styles/mapper.scss
  src/styles/reset.css
  src/styles/variables.css
Due: prettier --write, eslint --fix, npm run type-check, stylelint --fix

chore: bump version to 0.2.0 in package.json
  package.json
Due: prettier --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Create SECURITY.md
  SECURITY.md
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Update CI workflow permissions for improved pull request handling
  .github/workflows/ci.yml
Due: prettier --write

Create static.yml
  .github/workflows/static.yml
Due: prettier --write

Add Docker support with Dockerfile and docker-compose configuration; update README for Docker instructions
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

Bump version to 0.2.0 in package-lock.json
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
  npm run type-check: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
